body{
    margin: 0;
    padding: 0;
    background-color: #283333;
}

.toolbox{
    height:100vh;
    position: absolute;
    background-color: #3a4b4b;
    width: 50px;
}
.toolbox .group{
    border-bottom:  thin solid grey;
}
.toolbox .group .item{
    height :24px;
    width: 24px;
    padding: 10px;
    cursor: pointer;
}
.toolbox .group .item:hover , .toolbox .group .item.active{
    background-color: #4b6161;
}
.toolbox .group .item img{
    width: 100%;
    filter: invert();
    padding: 10px;
}
.toolbox .group.linewidths .item{
    position: relative;
}
.toolbox .group.linewidths .item .linewidth{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.toolbox.right{
    top: 0px;
    right: 0px;
}
.toolbox.left{
    top: 0px;
    left: 0px;
}
.toolbox .group.swatches .item .swatch{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 2px solid white;
}
#canvas{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    background-color: antiquewhite;
}
